{{page-title "Detail"}}
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo class="btn-back" @route="author">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{ this.model.firstName }} {{ this.model.lastName }} </h3>

        <div class="actions">
          <a href class="btn-pop">edit</a>

          <button class="btn-recessed">delete</button>
        </div>
      </div>
    </div>

    <div class="slide-out-content"></div>
  </div>
</div>
